
body {
    background-color:rgb(151, 100, 175);
}

#upperCasePassword, #lowerCasePassword, #numberPassword, #specialCharPassword, #allCharPassword {
    width: 400px;
    height: 30px;
    background-color: rgb(62, 163, 150);
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
}

#charAmount {
    width: 300px;
    height: 25px;
    
    
}

#title {
    display: block;
    left: 300px;
    position: absolute;
    text-align: center;
    margin: 20px ;

}

#main {
    cursor: pointer;
    top: 160px;
    left: 300px;
    display: block;
   justify-content: center;
   position: absolute;
   
}




